Repository HerodotusDev/integrity, pull requests merged in 2024-06, with the labels that each got.

#130 Support Cairo 1 recursive proofs
  .github/workflows/proof_verification_tests.yml
  .github/workflows/tests.yml
  .tool-versions
  README.md
  examples/proofs/recursive_cairo1/example_proof.json
  examples/starknet/src/main.rs
  fact_registry/src/lib.cairo
  fact_registry/src/verifier.cairo
  runner/src/main.rs
  src/air/layouts/dex/public_input.cairo
  src/air/layouts/recursive/public_input.cairo
  src/air/layouts/recursive_with_poseidon/public_input.cairo
  src/air/layouts/small/public_input.cairo
  src/air/layouts/starknet/public_input.cairo
  src/air/layouts/starknet_with_keccak/public_input.cairo
  src/air/public_input.cairo
  src/air/public_memory.cairo
  src/lib.cairo
Labels: enhancement, Cairo

#133 Cairo1 public memory verification (Support Cairo 1 recursive proofs)
  .github/workflows/proof_verification_tests.yml
  .github/workflows/tests.yml
  .tool-versions
  README.md
  examples/proofs/.gitignore
  examples/proofs/dex/cairo0_example_proof.json
  examples/proofs/recursive/cairo0_example_proof.json
  examples/proofs/recursive/cairo1_example_proof.json
  examples/proofs/recursive_cairo1/cairo0_example_proof.json
  examples/proofs/recursive_with_poseidon/cairo0_example_proof.json
  examples/proofs/small/cairo0_example_proof.json
  examples/proofs/starknet/cairo0_example_proof.json
  examples/proofs/starknet_with_keccak/cairo0_example_proof.json
  examples/starknet/src/main.rs
  fact_registry/Scarb.toml
  fact_registry/src/lib.cairo
  fact_registry/src/verifier.cairo
  runner/src/main.rs
  src/air/layouts/dex/public_input.cairo
  src/air/layouts/recursive/public_input.cairo
  src/air/layouts/recursive_with_poseidon/public_input.cairo
  src/air/layouts/small/public_input.cairo
  src/air/layouts/starknet/public_input.cairo
  src/air/layouts/starknet_with_keccak/public_input.cairo
  src/air/public_input.cairo
  src/air/public_memory.cairo
  src/lib.cairo
Labels: enhancement, Cairo, tests

#135 cairo1 proofs
  .github/workflows/proof_verification_tests.yml
  Cargo.toml
  README.md
  deployed_contracts.md
  examples/proofs/dex/cairo1_example_proof.json
  examples/proofs/recursive_cairo1/cairo0_example_proof.json
  examples/proofs/recursive_with_poseidon/cairo1_example_proof.json
  examples/proofs/small/cairo1_example_proof.json
  examples/proofs/starknet/cairo1_example_proof.json
  examples/proofs/starknet_with_keccak/cairo1_example_proof.json
  examples/prover/cairo0_fibonacci.cairo
  examples/prover/cairo1_fibonacci.cairo
  examples/starknet/src/main.rs
  runner/src/lib.rs
  runner/src/main.rs
Labels: documentation, enhancement, tests
